<div class="container product-container">
    <div class="row">
      <div class="col-md-6">
        <img [src]="product.image" alt="Product Name" class="product-image">
      </div>
      <div class="col-md-6">
      <h6 *ngIf="isCostly"> <span class="badge text-bg-danger"> </span>Costly</h6>
        <h1 class="product-title">{{product.name2}}</h1>
        <p class="product-description">
          {{product.description}}
        </p>
        <div class="product-price">{{product.price | currency: 'INR'}}</div>
        <button class="btn btn-primary mt-3">Add to Cart</button>
      </div>
    </div>
  </div>