<div class="container py-5">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="user" >user</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="addresses">addresses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </li>
</ul>
<!-- <app-user></app-user>
<app-addresses></app-addresses> -->
<router-outlet></router-outlet>
</div>
