<app-navbar></app-navbar>

<!-- <div class="constainer mt-5">
  <p *ngfor= "let name of nameArr">
    {{name}}
  </p>
</div> -->

<div>
<button class ="btn btn-primary mt-2" (click)="decrementCounter()">-</button>
<h3>{{counter()}}</h3>
<button class ="btn btn-primary mt-2" (click)="incrementCounter()">+</button>
</div>

<router-outlet></router-outlet>

<!-- <app-products [details]="userdetails"></app-products>
<app-about-us></app-about-us> -->

<!-- 
<button (click)="onClickMe()" class="btn btn-primary mt-2">Click Me</button>
<br>
<button (click)="onClick()" class="btn btn-primary mt-2">increment number after click</button>
{{counter}}
<br>
<button (click)="increment()" class="btn btn-primary mt-2">increment </button>
{{count}}
<button (click)="decrement()" class="btn btn-primary mt-2">decrement </button>

<br>
<input type="text" [(ngModel)]="name" class="form-control mt-4" placeholder="Enter your name">
<br>
{{name}} -->



<!-- without for loop  -->
<!-- <div class="container mt-5">
  <div class="row justify-content-center">

  
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card mb-4 shadow-sm" style="width: 18rem;">
        <img [src]="iphone.image" class="card-img-top" alt="{{iphone.name2}}">
        <div class="card-body text-center">
          <h5 class="card-title">Name: {{ iphone.name2 }}</h5>
          <p class="card-text">Description: {{ iphone.description }}</p>
          <p class="card-text"><strong>Price:</strong> ${{ iphone.price }}</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>

  
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card mb-4 shadow-sm" style="width: 18rem;">
        <img [src]="samsung.image" class="card-img-top" alt="{{samsung.name2}}">
        <div class="card-body text-center">
          <h5 class="card-title">Name: {{ samsung.name2 }}</h5>
          <p class="card-text">Description: {{ samsung.description }}</p>
          <p class="card-text"><strong>Price:</strong> ${{ samsung.price }}</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex justify-content-center">
      <div class="card mb-4 shadow-sm" style="width: 18rem;">
        <img [src]="oneplus.image" class="card-img-top" alt="{{oneplus.name2}}">
        <div class="card-body text-center">
          <h5 class="card-title">Name: {{ oneplus.name2 }}</h5>
          <p class="card-text">Description: {{ oneplus.description }}</p>
          <p class="card-text"><strong>Price:</strong> ${{ oneplus.price }}</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>

  </div>
</div>

  

 -->
